<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <!--
        Prevent excessive caching by GitHub Pages. This is tricky. Links:
        - http://stackoverflow.com/q/1341089/132978
        - http://stackoverflow.com/q/6664542/132978
        - http://stackoverflow.com/q/4542299/132978
    -->
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="{{site.url}}/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="http://wncc.github.io/stylesheets/styles.css">
    <style>
      header { zoom: 1.2; }
      header h1 { margin-bottom: 5px; }
      header h1 a { color: #494949; font-weight: bold; }
      header h3 { margin-top: 20px; margin-bottom: 5px; }
      header p.view { margin-bottom: 5px; }
      header p.view small { padding-top: 2px; }
      header ul {
        zoom: 0.7;
        margin-top: 25px;
      }
      section p { margin-top: 10px; }
      section h1 { margin-bottom: 15px; }
      section h2 { margin-bottom: 10px; }
      section h2 { margin-bottom: 10px; }
      footer { bottom: 20px; }
      footer p { margin-bottom: 5px; }
      .half-width {
        float: left;
        width: 200px;
        list-style: none;
        padding: 5px;
        margin: 7px;
        margin-bottom: 10px;
      }
      .half-width h4 {
        margin-bottom: 5px;
      }
      .half-width ul {
        padding-left: 0;
      }
      .half-width ul li {
        list-style: inside;
        font-size: 15px;
      }
      .clear-fix {
        clear: both;
      }
    </style>
    <script src="https://github.com/themes/minimal/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <!-- facebook plugin -->
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=215790075234188";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="wrapper">
      <header>
        <h1><a href="/">WnCC</a></h1>
        <p class="view"><a href="/events">Events<small>Entire Event Archive</small></a></p>
        <p class="view"><a href="/hacks">Community Hacks<small>Display board of hacks</small></a></p>
        <p class="view"><a href="/competitions">Competitions<small>Upcoming,Ongoing and Archived Competitions</small></a></p>
        <p class="view"><a href="/resources">Resource Center<small>Resources to learn interesting stuff</small></a></p>
        <p class="view"><a href="/about.html">About<small>About the community</small></a></p>
        {% if page.repository_url %}
          <h3>Project Info</h3>
          <ul>
            {% if page.zip_url %}
              <li><a href="{{ page.zip_url }}">Download <strong>ZIP File</strong></a></li>
            {% endif %}
            {% if page.issue_url %}
              <li><a href="{{ page.issue_url }}">Report<strong>An Issue</strong></a></li>
            {% endif %}
            {% if page.repository_url %}
              <li><a href="{{ page.repository_url }}">Fork On <strong>GitHub</strong></a></li>
            {% endif %}
          </ul>
          {% endif %}
        <br/>
        <h3>Follow Us On</h3>
        <p class="view"><a href="https://github.com/wncc" target="tab">GitHub<small>If social coding is your thing</small></a></li>
        <p class="view"><a href="https://groups.google.com/forum/#!forum/wncc_iitb" target="tab">Google Groups<small>If you're from IITB</small></a></li>
        <p class="view"><a href="https://facebook.com/wncc.iitb" target="tab">FB<small>If you want to follow interesting topics!</small></a></li> 
      </header>
      <section id="main">
        {{ content }}
        <br/>
        <hr/>
        <br/>
        <div class="stats">
          &nbsp; &nbsp; &nbsp;
        </div>

        <div class="buttons">

            <!--
all buttons below are explicitly set to use this post's full
(canonical) absolute URL and are customized to be 20px tall.

links:
- http://www.google.com/webmasters/+1/button/
- http://developers.facebook.com/docs/reference/plugins/like/
- https://dev.twitter.com/docs/tweet-button

all scripts are at the bottom.
-->

            <div class="g-plusone" data-size="medium" data-href="http://wncc-iitb.org{{ page.url }}"></div>

            <a href="http://twitter.com/share" class="twitter-share-button" data-via="SushantHiray" data-related="SushantHiray"
                data-url="http://wncc-iitb.org{{ page.url }}" data-text="{{ page.title | escape }}">Tweet</a>

            <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-href="http://wncc-iitb.org{{ page.url }}"></div>

        </div>

      </section>
      <footer>
        <p><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a> &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
    <!-- Twitter plugin -->
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <!-- Google Plus (+1): -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  	<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40046157-4', 'wncc-iitb.org');
      ga('send', 'pageview');

  </script>

  <!--[if !(lt IE 8)]><!-->
     <script type="text/javascript">
              (function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src=document.location.protocol+"//d1agz031tafz8n.cloudfront.net/thedaywefightback.js/widget.min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()
                 </script>
                 <!--<![endif]-->
  </body>
</html>
